---
layout: default
---

<div class="home">
    <div class="primary">
        {% for post in site.posts limit:1 %}
        <p class="type">{{ post.category }}</p>
        <h2 class="primary-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
        <div class="primary-img-quote">
            <img class= "primary-image" src = {{ post.image }} alt="{{ post.title }}">
            <p class="primary-quote">{{ post.excerpt }}</p>
        </div>
        <div class="pub-link"><a href="{{ post.link }}">{{ post.publication }}</a></div>
        <hr class="line">
        {% endfor %}
    </div>

    <div class="secondary">
        <ul class="post-list">
          {% for post in site.posts limit:5 %}
          {% if forloop.index > 1 %}
            <li>
                <p class="type">{{ post.category }}</p>
                <h3>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
                <p class="secondary-quote">{{ post.excerpt }}</p>
                <div class="pub-link"><a href="{{ post.link }}">{{ post.publication }}</a></div>
                <hr class="line">
            </li>
          {% endif %}
          {% endfor %}
        </ul>
    </div>
</div>
