---
layout: default
---

<div class="home">
    <div class="primary">
        {% for post in site.posts limit:1 %}
        <p class="type">{{ post.category }}</p>
        <h2 class="primary-title">{{ post.title }}</h2>
        <div class="primary-img-quote">
            <img class= "primary-image" src = {{ post.image }} alt="{{ post.title }}">
            <p class="primary-quote">{{ post.excerpt }}</p>
        </div>
        <hr class="line">
        <div class="primary-link"><a href="{{ post.link }}">{{ post.publication }}</a></div>
        {% endfor %}
    </div>

    <div class="secondary">
        <ul class="post-list">
          {% for post in site.posts %}
          {% if forloop.index > 1 %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
    </div>



  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  -->
</div>
