body, p {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 14px;
  color: #303030;
  line-height: 1.25;
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #134E25;
  font-weight: normal; }

h1, h2, h3 {
  font-family: "Oswald", "Arial", sans-serif;
  color: #303030;
  line-height: 1.15;
  margin: 0; }

h1 {
  font-size: 4.48em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.792em; }

body {
  background-color: #fefefa; }

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto; }
  .contact__link {
    background-color: #fefefa;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    display: inline-block; }
    .contact__link svg {
      width: 30px;
      vertical-align: middle; }

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.icon {
  fill: #303030; }
  .icon:hover {
    fill: #DE6B20; }

.articles {
  padding: 10px 0; }
  .articles--type {
    color: #DE6B20;
    margin: 5px 10px; }
  .articles hr {
    width: 100%;
    height: 1px;
    background-color: #8EAC7B;
    margin: 10px auto 0 auto; }
  .articles a:hover {
    color: #DE6B20; }
  .articles .home--pubLink {
    width: 90%;
    margin: 0 auto; }
  .articles li {
    padding-bottom: 20px; }
  .articles--date {
    padding-top: 10px;
    margin-left: 10px; }
  .articles--quote {
    padding: 10px; }

.blogPost {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0; }
  .blogPost__header h2 {
    text-align: center;
    margin-bottom: 20px; }
  .blogPost__header p {
    padding: 0 0 10px 20px; }
  .blogPost__content p {
    margin: 10px 0; }

.site-footer {
  width: 100%;
  background-color: #8EAC7B;
  overflow: auto; }
  .site-footer .footer__menu {
    width: 80%;
    margin: 10px auto; }
    .site-footer .footer__menu ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px; }
      .site-footer .footer__menu ul a {
        font-family: "Oswald", "Arial", sans-serif;
        font-size: 1.25em;
        color: #303030; }
        .site-footer .footer__menu ul a:hover {
          border-bottom: 2px solid #DE6B20; }
      .site-footer .footer__menu ul .active {
        border-bottom: 2px solid #DE6B20; }
  .site-footer .copyright {
    text-align: center;
    margin: 15px auto; }
    .site-footer .copyright p {
      font-family: "Merriweather", "Georgia", serif;
      color: #303030; }

.site-header {
  width: 100%;
  background-color: #8EAC7B;
  overflow: auto;
  padding-bottom: 30px; }
  .site-header .name {
    font-family: "Oswald", "Arial", sans-serif;
    color: #303030;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25);
    text-align: center;
    margin: 20px 0; }
  .site-header .logo {
    background-color: #fefefa;
    height: 75px;
    width: 75px;
    border-radius: 100px;
    text-align: center;
    margin: 20px auto 0 auto;
    position: relative; }
  .site-header .owl {
    width: 50px;
    vertical-align: middle; }
  .site-header .menu {
    height: 80px;
    text-align: center; }
    .site-header .menu ul {
      display: flex;
      flex-flow: column wrap;
      width: 90%;
      height: 75px;
      margin: -75px auto 0 auto;
      justify-content: center;
      align-content: space-between; }
      .site-header .menu ul li {
        flex-basis: 50%; }
        .site-header .menu ul li a {
          font-family: "Oswald", "Arial", sans-serif;
          font-size: 1.792em;
          color: #303030;
          text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25); }
          .site-header .menu ul li a:hover {
            border-bottom: 2px solid #DE6B20; }
        .site-header .menu ul li .active {
          border-bottom: 2px solid #DE6B20; }

.home {
  width: 90%;
  margin: 0 auto; }
  .home__primary {
    padding: 20px 0; }
    .home__primary--image {
      width: 75px;
      float: left;
      margin: 5px 10px 5px 0; }
    .home__primary--imgQuote {
      margin: 10px 0;
      height: 125px; }
    .home__primary--quote {
      padding-top: 10px; }

.myBlog {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0; }
  .myBlog h2 {
    text-align: center;
    margin-bottom: 20px; }

.myStory {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  .myStory__picture {
    text-align: center;
    flex-basis: 100%; }
    .myStory__picture img {
      width: 200px;
      border-radius: 200px;
      margin: 30px auto; }
  .myStory__story {
    flex-basis: 100%;
    padding: 10px 0; }
    .myStory__story p {
      width: 90%;
      margin: 10px auto; }

.myWork {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0; }
  .myWork h2 {
    text-align: center;
    margin-bottom: 20px; }

@media (min-width: 600px) {
  .contact {
    width: 20%; }

  .site-header .menu ul {
    flex-flow: row nowrap;
    width: 80%;
    justify-content: space-between; }
    .site-header .menu ul .side {
      flex-basis: 12.5%; }
    .site-header .menu ul .middle {
      flex-basis: 25%; }

  .home {
    width: 80%; }

  .site-footer .footer__menu {
    width: 50%; }
    .site-footer .footer__menu ul li a {
      font-size: 1.792em; }

  .myWork {
    width: 80%; }

  .myBlog {
    width: 80%; }

  .blogPost {
    width: 80%; } }
@media (min-width: 900px) {
  .contact {
    width: 15%; }

  .site-header .name {
    margin: 30px 0; }

  .home {
    width: 70%; }

  .site-footer .footer__menu {
    margin: 20px auto; }

  .myStory__picture {
    flex-basis: 40%; }
    .myStory__picture img {
      width: 300px; }
  .myStory__story {
    flex-basis: 60%; }

  .myWork {
    width: 70%; }

  .myBlog {
    width: 70%; }

  .blogPost {
    width: 70%; } }
@media (min-width: 1200px) {
  h1 {
    font-size: 6.25em; }

  h2 {
    font-size: 4.48em; }

  p {
    font-size: 16px;
    line-height: 1.5; }

  .contact {
    width: 10%; }

  .site-header .logo {
    height: 100px;
    width: 100px; }
  .site-header .owl {
    width: 70px; }
  .site-header .menu ul {
    width: 60%; }
    .site-header .menu ul li a {
      font-size: 2.5em; }

  .home {
    width: 50%; }
    .home__primary--image {
      width: 100px;
      margin: 10px 20px 10px 0; }
    .home__primary--imgQuote {
      margin: 20px 0; }
    .home__primary--quote {
      padding-top: 20px; }

  .articles--type {
    margin: 10px 20px; }
  .articles--quote {
    padding: 20px; }

  .myStory {
    justify-content: center; }
    .myStory__picture {
      flex-basis: 25%; }
    .myStory__story {
      flex-basis: 50%;
      padding: 20px 0; }
      .myStory__story p {
        margin: 20px auto; }

  .myWork {
    width: 50%; }

  .myBlog {
    width: 50%; }

  .blogPost {
    width: 50%; }
    .blogPost p {
      margin: 20px 0; } }
