<footer class="site-footer">

    <div class="footer__menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mywork">My Work</a></li>
            <li><a href="/mystory">My Story</a></li>
            <li><a href="/blog">My Blog</a></li>
        </ul>
    </div>

    <div class="contact">
        <div class="contact__link email"><span class="helper"></span>{% include icon-mail.html %}</div>
        <div class="contact__link twitter"><span class="helper"></span>{% include icon-twitter.html username=site.twitter_username %}</div>
    </div>

    <div class="copyright">
        <p>&copy; 2016 Katy Bowman</p>
    </div>

</footer>
