<header class="site-header">

    <nav class="navbar">
        <div class="header-container">
            <div class="logo">
                <span class="helper"></span><img class="owl" src="/images/Katy_owl_logo.png" alt="Owl">
            </div>

            <div class="menu">
                <ul class="nav">
                    <li><a href="katybowman.com">Home</a></li>
                    <li><a href="/work">My Work</a></li>
                    <li><a href="/mystory">My Story</a></li>
                    <li><a href="/blog">My Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="name">
        Katy Bowman
    </h1>

</header>
