//media breakpoint
$tablet-portrait: "(min-width: 600px)";

@media #{$tablet-portrait} {
//header
    .site-header {
        .menu {
            ul {
                flex-flow: row nowrap;
                width: 80%;

                .middle {
                    flex-grow: 2;
                }
            }
        }
    }
}
