.site-footer {
    width: 100%;
    background-color: $light-green;
    overflow: auto;

    .footer__menu {
        width: 80%;
        margin: 10px auto;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;;
            align-items: center;
            height: 40px;

            li a {
                //margin: 10px;
                font-family: $heading-stack;
                font-size: 1.25em;
                color: $base-font-color
            }
        }
    }

    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        margin: 0 auto;
    }

    .copyright {
        text-align: center;
        margin: 15px auto;

        p {
            font-family: $body-stack;
            color: $base-font-color;
        }
    }
}
